// Google Fonts

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    font-family: 'Rubik', sans-serif;
    background-image: url(/images/body-bg.jpg);
    
}

@media(min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media(min-width:768px) {
    .container {
        max-width: 720px;
    }
}

@media(min-width:992px) {
    .container {
        max-width: 960px;
    }
}

@media(min-width:1200px) {
    .container {
        max-width: 1140px;
    }
}


.primary_btn {
    display: inline-block;
    color: #fff;
    letter-spacing: 0px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 46px;
    outline: none !important;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
    border: double 2px transparent;
    box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
    width: 120px;
    transition: .9s ease;

    &:hover {
        background-image: linear-gradient(#ffffff, #ffffff), radial-gradient(circle at top left, #4458dc, #854fee);
        border: 2px solid transparent;
        color: #222222;
        box-shadow: none;
        width: 120px;
    }
}

.spInp {
    color: red;
    font-size: 15px;
    padding: 5px;
}

.title {
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
}