footer {

    .container {
        .logo {
            background: url(/images/logo-back.jpg);
            font-size: 32px;
            font-family: 'Poppins', sans-serif;
            text-transform: uppercase;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            text-align: center;
            margin-top: 150px;
            margin-bottom: 20px;
        }
        .footerh1{
            text-align: center;
            margin-bottom: 20px;
        }
        .social{
            text-align: center;
            margin-bottom:90px;
            a{
                margin: 20px;
                i{
                    color: #788489;
                    font-size: 22px;
                }
            }
            a , i:hover{
                color: #854fee ;
                transition: 0.6s;
            }
            
        }
       .footerparagraph{
        opacity:0.7;
        text-align: center;
        margin-bottom: 120px;
       }
    }
}